<a href="/" class="btn btn-success">GO HOME</a>
<div class="row">
    {{#each products}}
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                {{name}}
            </div>
            <div class="card-body">
                <p>{{description}}</p>
                <span>{{price}}</span>
                <p>{{createdAt}}</p>
            </div>
        </div>
    </div>
    {{/each}}

     <form action="/print" method="POST">
        <input type="submit" class="btn btn-primary float" value="Print">
    </form>
</div>