<div class="row">
    {{#each products}}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{name}}
                </div>
                <div class="card-body">
                    <p>{{description}}</p>
                    <span>{{price}}</span>
                </div>               
            </div>
        </div>
    {{/each}}
</div>